{% import 'macros.html.twig' as macros %}

{% extends 'nav_and_content.html.twig' %}

{% block content_title %}
    Next Release for {{ release.project.title }}
{% endblock %}

{% block content %}
    {% if release.pullRequests %}
        <h2>{{ release.pullRequests|length }} Pull requests</h2>
        <ul class="list-group list-group-flush">
            {% for pr in release.pullRequests %}
                <li class="list-group-item">
                    [<a href="{{ pr.htmlUrl }}">{{ pr.issue.toString }}</a>] {{ pr.title }}&nbsp;{{ macros.render_stability(pr.stability) }} {% if not pr.hasChangelog and pr.needsChangelog  %}&nbsp;<span class="badge badge-pill badge-danger">No changelog</span>{% endif %}
                </li>
            {% endfor %}
        </ul>
        <br>
    {% endif %}

    {% if release.isNeeded %}
        <h2>Changelog</h2>
        <p>
            {{ release.changelog.asMarkdown|markdown_to_html }}
        </p>

        <h2>Changelog as Markdown</h2>
        <textarea cols="140" rows="60">{{ release.changelog.asMarkdown }}</textarea>
    {% else %}
        <h1>No Release needed for {{ release.project.title }}</h1>
    {% endif %}
{% endblock %}
